    body {
      font-family: 'Roboto';
    }
    .number_in {
      background-color: white;
      padding: 2px;
      width: 4em;
      margin:none;
    }
  	#applet {
  		width:1000px;
  		margin:0 auto;
  		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		  "map-holder controller";
		outline:0;
  	}
    #control_holder>div{
      margin-top: 20px;
      width: 100%
    }
  	#map_holder {
  		grid-area: map-holder;
      margin:20px;
      margin-top: 0px;
      margin-bottom: 0px;
      position: relative;
  	}
  	#control_holder {
  		grid-area: controller;
      padding:20px;
      border: 2px;
      border-style: solid;
      border-color: black;
      border-radius: 4px;
      margin:4px;
      height: 100%
  	}

    #map_holder>canvas{
      width:100%;
      position: absolute;
    }
    .code_area{
      display: block;
      width:99%;
      resize: vertical;
      min-height: 5em;
    }

    #preset_algorithms{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }

    .button {
      border-style: solid;
      border-color: black;
      border-radius:2px;
      border-width: 1px;
      padding: 4px;
      margin-bottom:8px;
      cursor:pointer;
    }